.add-contact-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.add-contact-container h3{
  text-align: center;
}

.add-contact-form-container {
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 500px;
}

.add-contact-form {
  display: flex;
}

.add-contact-form-half {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 10px 30px;
}

.form-input.url {
  width: 300px;
}

input {
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  height: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.contact-button {
  background: #0A3C4A;
  border-radius: 5px;
  color: white;
  height: 35px;
  width: 80px;
}

.edit-buttons {
  display: flex;
}

/* .add-contact {
    display: inline-block;
} */