.header-container {
    background: #063C4B;
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    width: 100%;
}

.header {
    align-items: center;
    display: flex;
}

.header-items {
    margin-left: -15px;
}

.header-items li {
    display: inline;
}

.list-item {
    font-size: 12px;
    margin-left: 15px;
}

.list-item:hover {
    cursor: pointer;
}

.list-item.first {
    margin-left: 40px;
}

